body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3fdff !important;
    color: #454545;
}

a {
    color: #9fce34 !important;
    font-style: normal;
    cursor: pointer !important;
}

a:hover {
    color: #8fb92f !important;
    font-style: normal;
    cursor: pointer !important;
}

a:visited {
    color: #40c0cb;
    font-style: normal;
    cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    text-align: left;
    color: #454545;
}

h1 {
    font-size: 26px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 600;
}
h3 {
    font-size: 22px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
h5 {
    font-size: 16px;
    font-weight: 400;
}
h6 {
    font-size: 14px;
    font-weight: 400;
}

input[type=text], input[type=number], input[type=password], select {
    height: 40px;
    background-color: #f3fdff;
    border-style: none;
    border-bottom-style: solid;
    border-color: #00a8c6;
    font-family: Montserrat;
    font-size: 16px;
    color: #454545;
    padding: 10px;
}

input[type=submit], button {
    height: 40px;
    background-color: #cbec81;
    border-style: none;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}
select.ng-invalid,
input.ng-invalid {
    border-color: #FF9F1C;
    background-color: #ffebd1;
}
select.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
    border-color: #FE4A49;
    background-color: #fedada;
}

.content {
    padding-top: 120px;
    z-index: 1;
}

.loading {
    width: 6%;
    margin-left: 47%;
    margin-top: 20%;
    z-index: 10;
}

.login,
.register {
    width: 320px;
    margin: 50px auto;
    border-radius: 2px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.register {
    height: 570px;
    position: relative;
}

.login {
    height: 480px;
}

.register-header-image,
.login-header-image {
    width: 320px;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    cursor: default;
}

.register-header,
.login-header {
    width: 320px;
    height: 160px;
    opacity: 0.72;
    background-image: linear-gradient(to bottom, #cbec81, #40c0cb);
    z-index: 4;
    margin-top: -160px;
    cursor: default;
}

.register-header-text,
.login-header-text {
    width: 320px;
    height: 40px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    padding-top: 120px;
    cursor: default;
    text-align: center;
    z-index: 10 !important;
    opacity: 1 !important;
}

.login-input-bracket {
    width: 100%;
    padding: 20px;
}

.register-input-bracket {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register-input-bracket-text,
.login-input-bracket-text {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.register-input-bracket-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.register-input,
.login-input {
    width: 100%;
}

.register-form-header {
    color: #D0D0D0;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    cursor: default;
    z-index: 10 !important;
    opacity: 1 !important;
}

.register-form {
    padding: 20px;
}

.maincontainer {
    margin-top: 10px;
}

.box {
    background-color: #FFFFFF;
    border-style: none;
    border-color: #aee239;
    border-top-style: solid;
    border-width: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 50px;
    padding: 5px;
}
