<header *ngIf="isNotAutoDirect">
  <div class="menu">
    <div class="menu-background">

    </div>
    <div class="menu-foreground">
      <div *ngIf="!isLoggedIn" class="menu-login">
        <div class="menu-item" [routerLink]='["/login"]'>
          Login
        </div>
        <div class="menu-item" [routerLink]='["/register"]'>
          Sign up
        </div>
      </div>
      <div *ngIf="isLoggedIn" class="menu-items">
        <div class="menu-item">

        </div>
      </div>
    </div>
    <a [routerLink]='["/home"]'>
      <img class="menu-logo" src="uwlogo.svg" />
      <div class="menu-text">Urban Warming</div>
    </a>

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
        </li>
      </ul>
    </div>-->
  </div>
</header>
