USE [master]
GO

CREATE LOGIN [uw_user] WITH PASSWORD = 'urbanwarming';
GO

/****** Object:  Database [UW_Local]    Script Date: 2019. 03. 24. 21:14:14 ******/
CREATE DATABASE [UW_Local]
GO




USE [UW_Local]
GO

CREATE USER [uw_user] FOR LOGIN [uw_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [uw_user]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
[Id] [nvarchar](100) NOT NULL,
[UserName] [nvarchar](300) NOT NULL,
[Email] [nvarchar](1000) NOT NULL,
[PictureLink] [nvarchar](1000) NOT NULL,
[UserDescription] [nvarchar](max) NOT NULL,
[CountryId] [int] NULL,
[CreatedBy] [int] NOT NULL,
[CreatedAt] [datetime] NOT NULL,
[LastChangedBy] [int] NOT NULL,
[LastChangedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO
CREATE INDEX i_User_UserName ON [User] (UserName);
GO

CREATE TABLE [dbo].[Location](
[Id] [int] NOT NULL,
[Longitude] [float] NOT NULL,
[Lattitude] [float] NOT NULL,
[CreatedBy] [int] NOT NULL,
[CreatedAt] [datetime] NOT NULL,
[LastChangedBy] [int] NOT NULL,
[LastChangedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO
CREATE INDEX i_Location_Longitude ON [Location] (Longitude);
GO
CREATE INDEX i_Location_Lattitude ON [Location] (Lattitude);
GO
CREATE INDEX i_Location_LongitudeLattitude ON [Location] (Longitude, Lattitude);
GO

CREATE TABLE [dbo].[City](
[Id] [int] NOT NULL,
[CityName] [nvarchar](1000) NOT NULL,
[CreatedBy] [int] NOT NULL,
[CreatedAt] [datetime] NOT NULL,
[LastChangedBy] [int] NOT NULL,
[LastChangedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO
CREATE INDEX i_City_CityName ON City (CityName);
GO

CREATE TABLE [dbo].[CityToUser](
[Id] [int] NOT NULL,
[CityId] [int] NOT NULL,
[UserId] [int] NOT NULL,
[CreatedBy] [int] NOT NULL,
[CreatedAt] [datetime] NOT NULL,
[LastChangedBy] [int] NOT NULL,
[LastChangedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO
CREATE INDEX i_CityToUser_CityId ON CityToUser (CityId);
GO
CREATE INDEX i_CityToUser_UserId ON CityToUser (UserId);
GO
