<div class="city-tab-container">
  <fa-icon class="city-tab-item" title="Base" [icon]="faMapMarkedAlt" (click)="onClick('base')" [ngClass]="{'city-tab-selected': activeTab === 'base'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Population" [icon]="faUsers" (click)="onClick('population')" [ngClass]="{'city-tab-selected': activeTab === 'population'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Industry" [icon]="faIndustry" (click)="onClick('industry')" [ngClass]="{'city-tab-selected': activeTab === 'industry'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Services" [icon]="faSeedling" (click)="onClick('services')" [ngClass]="{'city-tab-selected': activeTab === 'services'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Tourism" [icon]="faHiking" (click)="onClick('tourism')" [ngClass]="{'city-tab-selected': activeTab === 'tourism'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Finance" [icon]="faDollarSign" (click)="onClick('finance')" [ngClass]="{'city-tab-selected': activeTab === 'finance'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Energy" [icon]="faLightbulb" (click)="onClick('energy')" [ngClass]="{'city-tab-selected': activeTab === 'energy'}"></fa-icon>
  <fa-icon class="city-tab-item" title="Policies" [icon]="faScroll" (click)="onClick('policies')" [ngClass]="{'city-tab-selected': activeTab === 'policies'}"></fa-icon>
</div>
