

  <div class="register">
    <img class="register-header-image" src="uwlogo.svg" />
    <div class="register-header">
      <div class="register-header-text">Urban Warming</div>
    </div>
    <div class="register-form">
      <h4 class="register-form-header">Register</h4>
      <form (ngSubmit)="openSecondForm()" [formGroup]="registrationForm" *ngIf="formType === 'baseData'">
        <div class="register-input-bracket">
          <input class="register-input" type="text" name="loginname" formControlName="loginname" ng-trim="false" placeholder="Login name" required />
        </div>
        <div class="register-input-bracket">
          <input class="register-input" type="text" name="email" formControlName="email" ng-trim="false" placeholder="Email" required />
        </div>

        <div class="register-input-bracket">
          <input class="register-input" type="password" name="password" formControlName="password" ng-trim="false" placeholder="Password" required minlength="6" />
        </div>

        <div class="register-input-bracket">
          <input class="register-input" type="password" name="passwordconfirm" formControlName="passwordConfirm" ng-trim="false" placeholder="Confirm password" required />
        </div>

        <div class="register-input-bracket">
          <input class="register-input" type="submit" value="Next" [disabled]="!registrationForm.valid" />
        </div>
      </form>

      <form (ngSubmit)="onRegisterPost()" [formGroup]="cityTypeForm" *ngIf="formType === 'cityType'">
        <div class="register-input-bracket">
          <select class="form-control" id="cityType" required formControlName="cityType">
            <option disabled selected [ngValue]="null">Choose city type</option>
            <option *ngFor="let cityType of cityTypes" [ngValue]="cityType" >{{cityType.name}}</option>
          </select>
        </div>
        <!-- TODO: show city type data  -->
          <div class="register-input-bracket">
            <button class="register-input" (click)="goToBaseForm()">Back</button>
            <input class="register-input" type="submit" value="Register" [disabled]="!cityTypeForm.valid" />
          </div>
      </form>

      <div class="register-input-bracket-text">
        Already have an account? <a [routerLink]='["/login"]'>Log in</a>
      </div>
    </div>
  </div>
